<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show blog list</title>
</head>
<body>
<h1>Blog list</h1>
<p>
    <a href="/blog/create">Create new blog</a>
</p>

<table border="1">
    <thead>
    <tr>
        <td>Name</td>
        <td>Content</td>
        <td>Image link</td>
        <td>Category</td>
        <td>Edit</td>
        <td>Delete</td>
        <td>View</td>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.name}"></td>
            <td th:text="${blog.getContent()}"></td>
            <td th:text="${blog.getImage()}"></td>
            <td th:text="${blog.category1.name}"></td>
            <td><a th:href="@{/edit-blog/__${blog.getIdBlog()}__}">edit</a></td>
            <td><a th:href="@{/delete-blog/__${blog.getIdBlog()}__}">delete</a></td>
            <td><a th:href="@{/view-blog/__${blog.getIdBlog()}__}">view</a></td>
        </tr>
    </th:block>
    </tbody>
</table>
<div>
    <a th:href="@{'/blog'(page=${blogs.number - 1})}"
       th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number+1}"></span>
    <span th:text="${blogs.totalPages}"></span>

    <a th:href="@{'/blog'(page=${blogs.number + 1})}"
       th:if="${blogs.hasNext()}">Next</a>
</div>
</body>
</html>