<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/infor/create}">
        Order List
    </a>
</p>
<p>
    <a th:href="@{/book}">
        Home
    </a>
</p>

<form method="post"
      th:action="@{/book/payBook}" >
    <input type="hidden" th:name="idBook" th:value="${book.getId()}">
    <input type="text" th:name="code" placeholder="Nhập mã CodeBook tại đây">
    <input type="submit" value="Pay">
</form>
<footer th:replace="/layout :: footer"></footer>


</body>
</html>