<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Edit Customer</h3>
<p>
    <a th:href="@{/infor}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/infor/update}" th:object="${informativeArticles}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="text" th:field="*{artist}"/>
        </div>
        <div>
            <label>Manufacturer</label>
            <input type="text" th:field="*{kindOfMusic}"/>
        </div>

        <input type="submit" value="Edit"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
Trong controller, ta sẽ tạo phương thức update() để lưu một sửa đổi, như sau:

@PostMapping("/update")
public String update(Customer customer) {
customerService.update(customer.getId(), customer);
return "redirect:/customer";
}